<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="CodeLearnDatabase" connectionString="Host=localhost;Database=CodeLearn;Username=zubriq;Password=zubriq"
       providerName="Npgsql"/>
  <add name="Supabase" connectionString="Host=db.xnrbmouhfxeureowqjck.supabase.co;Database=postgres;Username=postgres;Password=ezZooHWbAhZdiNIR"
       providerName="Npgsql"/>
</connectionStrings>